*devenv
*.pyc
*.pyo
tmp/
.idea/
*.egg-info
dist/
build/
integration_tests/tmux-src/*.tar.gz
docker-rpm-builder.spec
*.tar.gz
setuptools_git*
prodenv
.eggs/
*.rpm
*.deb
packaging/**/.vagrant
example/out_*
example/**/*.spec
*cloudimg-console.log
